We have dataset includes (insurance.csv):

age: age of primary beneficiary

sex: insurance contractor gender, female, male

bmi: Body mass index, providing an understanding of body, weights that are relatively high or low relative to height, objective index of body weight ( ùëòùëî/ùëö2ÔøΩÔøΩ/ÔøΩ2 ) using the ratio of height to weight, ideally 18.5 to 24.9

children: Number of children covered by health insurance / Number of dependents

smoker: Smoking

region: the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.

charges: Individual medical costs billed by health insurance

Can you accurately predict insurance cost?

In [54]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [55]:
df = pd.read_csv(r"C:\Users\Lan\OneDrive\TaÃÄi li√™Ã£u\Python_2\insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [56]:
df.shape

(1338, 7)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [58]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [59]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [60]:
#convert dtypes
df[['sex', 'smoker', 'region']] = df[['sex', 'smoker', 'region']].astype('category')
df.dtypes

age            int64
sex         category
bmi          float64
children       int64
smoker      category
region      category
charges      float64
dtype: object

LINEAR REGRESSION

In [61]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, median_absolute_error, r2_score
import math

In [62]:
train_data = pd.get_dummies(df, drop_first=True)

In [63]:
train_data.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [64]:
train_data = train_data[['age','sex_male','smoker_yes','bmi','children','region_northwest','region_southeast','region_southwest','charges']]
train_data.head(2)

,age,sex_male,smoker_yes,bmi,children,region_northwest,region_southeast,region_southwest,charges
0,19,0,1,27.90,0,0,0,1,16884.9240
1,18,1,0,33.77,1,0,1,0,1725.5523

In [65]:
X = train_data.iloc[:, :-1]
y = train_data.iloc[:, -1]

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [67]:
LinearRegression = LinearRegression()
LinearRegression = LinearRegression.fit(X_train, y_train)

In [68]:
y_predict = LinearRegression.predict(X_test)

In [69]:
def getScores(y_predict, y_test):
    mse = mean_squared_error(y_test,y_predict)
    rmse = math.sqrt(mse)
    mae = median_absolute_error(y_test,y_predict)
    r2 = r2_score(y_test,y_predict)
    result = {"MSE": mse, "RMSE": rmse, "MAE": mae, "R2_Score": r2 }
    return result

In [70]:
print(getScores(y_predict,y_test))

{'MSE': 31827950.22952384, 'RMSE': 5641.62655885019, 'MAE': 2360.1414314611475, 'R2_Score': 0.7999876970680433}

In [73]:
np.mean(y)

13270.422265141257